<div class="title">
    <h2>Lets get things Done!</h2>
</div>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Add things To Do" aria-label="Add things To Do"
        aria-describedby="button-addon2" [(ngModel)]="todoInput">
    <button class="btn btn-primary" type="button" id="button-addon2" (click)="addToDo()">Add</button>
</div>
<div class="error">
    <p *ngIf="inputempty">Input field is empty</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Things on List</th>
        </tr>
    </thead>
    <tbody *ngFor=" let todo of todos$ | async ">
        <tr>
            <td>{{todo.content}}</td>
            <button class="btn btn-success outline" (click)="removeToDo(todo)">Done</button>
        </tr>
    </tbody>
</table>
